	body{
		background: #FFF;
		color: #DDD;
		font-family: 'Helvetica', 'Lucida Grande', 'Arial', sans-serif;
	}
	.toppart{
		text-align:center;
		margin-top:100px;
	}
	.loginbar{
		text-align:center;
		margin-top:20px;
	}
	.register{
		text-align:center;
		margin-top:30px;
		width:100%;
	}
	
	/* Regular Form Styles */
	form{
		align:center;
		height: 100%;
		width: 400px;
	}
	form label{
		display: block;
		padding: 10px 10px 5px 15px;
		font-size: 20px;
		color: #00BFFF;
	}
	form input{
		display: block;
		margin: 5px 5px 5px 15px;
		width: 85%;
		background: #FFF;
		padding: 5px;
		color: #00BFFF;
		font-size: 16px;
	}
	form input:focus{
		color: #FFF;
	}
	input[type="submit"]{
		float: left;
		width: 80px;
	}
